* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;}

/* header {
    height: 150px;
    display: none;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
} */

.logoLink {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}
/* 
a.overlay { overlay for card at bottom of home page 
    position: absolute;
    width: 78%;
    height: 282px;
} */

.logo {
    height: 120px;
    width: 140px;
    -webkit-box-reflect: below -35px linear-gradient(transparent, rgba(255, 255, 255, .10%), rgba(255, 255, 255, 0.990) 125%);
}

.goBackArrow {
    height: 32px;
    width: 32px;
    padding: 2px 4px;
    margin: 10px 0 0 5px;
    border: 1.5px solid rgba(26, 29, 51, 0.365);
    border-radius: 50px;
    color: black;
}

/* .mouseDown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px auto 160px auto;
    height: 40px;
    width: 40px;
} */

/* header nav .menu.open {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    animation: fadeIn .2s linear;
} */

/* .menu.open a {
    color: rgb(29, 62, 109);
    font-size: 20px;
    font-weight: 550;
} */

@keyframes fadeIn {
    0% {
        opacity: 0
    };
    100% {
        opacity: 1
    };
}

.socialIcons {
    display: none;
}

.socialIcons i:hover {
    cursor: pointer;
}

.menu {
    display: none;
}

.menu a:hover {
    cursor: pointer;
}

.aboutImg {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.homeIcon {
    /* margin-top: 20px; */
    height: 230px;
    width: 90%;
    border-radius: 20%;
    margin-left: 12px;
}

.plus {
    font-size: 18px;
}

/* TOP HOME DIV */

.homeTopContainer {
    background-color: #ffffff;
    background: linear-gradient(360deg, #ffffff 0%, #79b8ff0e 10%);
}

.homeContentDiv {
    /* margin-top: 2.5%; */
    margin: 10px 0 0 0;
    padding: 10px 0 10px 0;
    /* background-color: rgba(240, 248, 255, 0.60); */
    /* border-radius: 20px; */
    /* border: 3px solid rgba(89, 194, 214, 0.020); */
}

.homeContentDiv h1 {
    color: rgb(36, 62, 106);
    font-size: 20px;
    text-align: center;
}

.homeContentDiv p {
    margin: 10px auto 0 auto;
    font-size: 12px;
    font-weight: 600;
    color: rgba(26, 29, 53, 0.85);
    text-align: center;
    line-height: 20px;
    width: 75%;
}

.contentSuite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px auto 10px auto;
}

.suiteTitleText {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: rgb(36, 62, 106);
    margin-top: 60px;
}

.kioskIllustration {
    /* margin: auto; */
    margin: 3px auto 30px auto;
    height: 120px;
    width: 320px;
    position: relative;
    /* left: -5px; */
}

.aboutIllustration {
    margin: 0 auto 73px auto;
    height: 140px;
    width: 320px;
}

.about,
.protocol,
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border: 2px solid rgba(36, 62, 106, 0.01);
    border-radius: 10px;
    margin: 10px;
    font-weight: 600;
    box-shadow: 0 6px 10px rgba(29, 62, 109, 0.10);
    background-color: rgba(240, 248, 255, 0.146);
}

.about a,
.protocol a,
.services a {
    text-decoration: none;
    color: rgb(29, 62, 109);
    padding: 11px 16px 11px 16px;
}

.about p,
.protocol p,
.services p {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.about img,
.protocol img,
.services img {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about:hover,
.protocol:hover,
.services:hover {
    box-shadow: 0 8px 14px rgba(29, 62, 109, 0.116);
    transition: box-shadow 0.1s ease-in-out;
    background-color: rgba(240, 248, 255, 0.146);
}

.separationLine {
    margin: auto;
    width: 90%;
    border: 1px solid rgba(26, 29, 51, 0.035);    
}

button {
    margin: auto;
    padding: 10px 15px; 
    border: none;
    background-color: rgb(36, 62, 106);
    border-radius: 7px;
    outline: none;
}

button:hover {
    background-color: rgb(89, 194, 214);
    transition: .2s;
}

button span {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: white;
}

/*************************************************/
/***********************/
/**** NEED TO KNOW *****/
/** IMG CLICK (ABOUT) **/
/***********************/

.knowTextContent,
.boostImmunityDiv {
    width: 85%;
    margin: 30px auto 30px auto;
    /* padding: 10px; */
    border-radius: 10px;
    border: 2px solid rgba(26, 29, 51, 0.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.knowTextContent h1,
.boostImmunityDiv h1 {
    background-color: rgb(29, 62, 109);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 0 auto;
    border-radius: 10px 10px 0 0;
    padding: 10px 0 10px 0;
}

.knowTextContent p,
.boostImmunityDiv p {
    font-size: 14px;
    font-weight: 500;
    width: 90%;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 20px;
    line-height: 18px;
}

.boostImmunityDiv .immuneFoods li,
.knowTextContent .immuneFoods li {
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    text-align: center;
    margin: 0 auto 0 auto;
    line-height: 20px;
}

.knowTextContent .immuneFoods li {
    margin-bottom: 10px;
}

.knowTextContent img {
    height: 60px;
    width: 60px;
    display: flex;
    margin: 0 auto 20px auto;
}

.knowTextContent .lightBulb,
.knowTextContent .hazmatIcon {
    height: 60px;
    width: 60px;
    display: flex;
    margin: 20px auto 0 auto;
}

.bottomOfCard {
    background-color: rgba(89, 193, 214, 0.10);
    border-radius: 0 0 10px 10px;
}

.knowTextContent h3 {
     text-align: center;
     font-size: 14px;
     margin-bottom: 20px;
     padding-top: 10px;
}

.knowTextContent ul {
    margin: 10px auto 0 auto;
}

.knowTextContent li {
    display: flex;
    font-size: 13px;
    margin: 5px auto 0 50px;
    /* font-weight: 600; */
}

.iconAndText {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.iconAndText .washHandsIcon {
    height: 30px;
    width: 30px;
}

.immuneSystemHeader {
    color: rgb(26, 29, 52);
    text-align: center;
    font-size: 30px;
}

.onGuardHeader {
    color: rgb(26, 29, 52);
    text-align: center;
    font-size: 30px;
}

.cdcAnchor {
    text-decoration: underline;
    color: rgb(26, 29, 52);
    display: flex;
    justify-content: center;
    font-weight: 900;
    padding: 15px;
}

.immuneFoods {
    color: rgb(26, 29, 52);
    text-align: center;
    list-style: none;
    /* margin-bottom: 50px; */
}

.immuneFoods li {
    margin: 3px;
    font-size: 18px;
}

.faceCovering {
    color: rgb(26, 29, 52);
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 90%;
}

.notSpan {
    font-weight: 900;
    text-decoration: underline;
}

.coveringUL {
    margin: auto;
    margin-top: 40px;
    list-style: none;
    width: 90%;
}

.coveringUL li {
    margin: 10px;
    font-size: 18px;
    line-height: 30px;
}

/*************************************************/

/***********************/
/**** ABOUT SECTION ****/
/***********************/

.aboutP {
    font-size: 16px;
    font-weight: 400;
    width: 90%;
    text-align: center;
    margin: 40px auto 60px auto;
    padding: 20px;
    line-height: 22px;
    border: 2px solid rgba(36, 62, 106, 0.02);
    border-radius: 10px;
    box-shadow: 0 16px 40px rgba(29, 62, 109, 0.10);
}

.bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(26, 29, 51);
}

.bannerContainer h1 {
    color: white;
    text-align: center;
    font-size: 20px;
    letter-spacing: .5px;
}


.aboutSectionTwo {
    margin-top: 10%;
    width: 100%;
    border: 3px solid rgb(26, 29, 52, .050);
    border-radius: 10px;
    margin-bottom: 10%;
}

.aboutSectionTwo a {
    display: flex;
    justify-content: center;
}

.aboutSectionTwo img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-top: 5%;
}

.safeOne {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 20px;
    width: 100%;
    margin-left: 6%;
}

.safeTwo {
    margin-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    margin-left: 6%;
}

.safeOne,
.safeTwo {
    line-height: 30px;
    width: 90%;
}

.clickMe {
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    margin-top: 5px;
}

.aboutSection {
    margin-top: 10%;
    width: 100%;
    border: 3px solid rgb(26, 29, 52, .050);
    border-radius: 10px;
    margin-bottom: 10%;
}

.aboutSection h3 {
    text-align: center;
    margin-top: 1%;
    font-size: 40px;
}

.aboutParContainer {
    line-height: 30px;
    padding: 20px;
    /* background-color: rgba(240, 248, 255, 0.418); */
    width: 100%;
    margin: auto;
}

.aboutParContainer p {
    font-size: 20px;
}

.aboutSection p {
    width: 85%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: rgb(26, 29, 53);
}

.iconDiv {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 1%;
}

.divCard {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 80%;
    border: 3px solid rgba(29, 62, 109, 0.1);
    border-radius: 5%;
}

.divCard:hover {
    box-shadow: 0 4px 7px rgba(29, 62, 109, 0.3);
    transition: box-shadow 0.1s ease-in-out;
    background-color: rgba(240, 248, 255, 0.3);
} 

.divCard p {
    padding: 10px;
    margin: auto;
    text-align: center;
    /* margin-top: 35px; */
    font-size: 24px;
    background-color: rgba(240, 248, 255, 0.452);
    border-radius: 5%;
    color: rgba(29, 62, 109, 0.87);
}

/*************************/
/***** SERVICES PAGE *****/
/*************************/

.servicesDivOne {
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.9);
    text-align: center;
}

.servicesDivOne h1 {
    color: rgb(27, 30, 47);
    text-align: center;
    padding: 20px;
}

.imgUVOne,
.imgUVTwo {
    margin: 10px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

.servicesDivTwo {
    width: 100%;
    border-radius: 10px;
}

.servicesDivTwo h1 {
    text-align: center;
    margin-top: 20px;
}

.servicesDivTwo p {
    margin-top: 2.5%;
    text-align: center;
}

.servicesHomePageIcon {
    height: 400px;
    width: 400px;
    border-radius: 25%;
    display: flex;
    margin: auto;
    margin-top: 3%;
}

/**** SERVICES CONTENT ****/

.textContentOne {
    /* font-size: 18px; */
    line-height: 25px;
    color: rgb(26, 29, 51);
}

.priceContentOne {
    margin: 15px;
    line-height: 20px;
    color: rgb(36, 62, 106);
}

.servicesHomePageIcon {
    width: 250px;
    height: 250px;
}

/********************/
/****** FOOTER ******/
/********************/

footer {
    width: 90%;
    margin: auto;
    /* height: 300px; */
    /* background-color: aliceblue; */
}

.footerIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    font-size: 10px;
    color: rgb(29, 62, 109);
}

.footerIcons i {
    /* margin-bottom: 20px; */
    /* background-color: aliceblue; */
    padding: 5px;
    border-radius: 10px;
}

.footerIcons i:hover {
    background-color: rgb(36, 62, 106);
    color: white;
}

/*************************/
/******** QUERIES ********/
/*************************/

/********** iPhone 6 **********/
@media (min-width: 375px) {

    .contentSuite {
        margin: 10px auto 20px auto;
    }

    .about,
    .protocol,
    .services {
        width: 100px;
        height: 100px;
    }

    .kioskIllustration {
        height: 140px;
        width: 375px;
    }

    .aboutIllustration {
        margin: 0 auto 130px auto;
        height: 160px;
        width: 375px;
    }

    .iconAndText {
        width: 50%;
    }

    .iconAndText li {
        margin-left: auto;
        width: 25%;
    }
}

/********** iPhone XR, iPhone 11, iPhone 6s Plus, 7 Plus, 8 Plus, XS Max, 11 Pro Max **********/
@media (min-width: 414px) {
    .about,
    .protocol,
    .services {
        width: 110px;
        height: 110px;
    }

    .kioskIllustration {
        height: 160px;
        width: 414px;
        margin-bottom: 67px
    }

    .aboutIllustration {
        width: 414px;
        margin: 20px auto 180px auto;
    }
}

/********** iPhone 12 mini **********/
@media (min-width: 360px) {
    .kioskIllustration {
        height: 130px;
        width: 360px;
        margin-bottom: 47px;
    }

    .aboutIllustration {
        width: 360px;
        margin-bottom: 100px;
    }
}

/********** iPhone 12 **********/
@media (min-width: 390px) {
    
    .kioskIllustration {
        width: 390px;
        margin: 0 auto 16px auto;
    }

    .aboutIllustration {
        width: 390px;
        margin-bottom: 104px;
    }
}

@media (min-width: 428px) {

    .kioskIllustration {
        width: 428px;
        margin-bottom: -1px;
    }

    .aboutIllustration {
        width: 428px;
        margin-bottom: 77px;
    }
}

@media (min-width: 768px) {

    .homeTopContainer {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 80%;
        margin: auto;
    }

    .homeContentDiv {
        margin-top: 0;
    }

    .logo {
        /*FIGURE OUT PLACEMENT ISSUES - BOOKMARK*/
        height: 140px;
        width: 160px;
        margin: 0 0 20px 0;
        /* display: flex;    */
    }

    .suiteTitleText {
        margin-top: 30px;
    }

    .kioskIllustration {
        width: 768px;
    }

    .aboutIllustration {
        width: 768px;
        margin: 25px auto 25px auto;
        height: 250px;
    }

    .aboutP {
        width: 80%;
        font-size: 14px;
    }

    .knowTextContent,
    .boostImmunityDiv {
        /* width: 300px; */
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 325px;
        flex: 1;
    }

    .socialIcons {
        display: none;
    }

    .hamburgerMenu {
        display: none;
    }

    nav a { /* OMG WTF SPACING DOESN'T WORK HOW I WANT NO MATTER WHAT*/
        color: rgb(29, 62, 109);
        text-decoration: none;
        font-weight: 550;
        font-size: 20px;
        width: 120px;
        margin: 0 10px;
        text-align: center;
    }
    
    nav a:hover {
        color: white;
        background-color: rgb(36, 62, 103);
        transition: .2s ease-in-out;
        border-radius: 12px;
    } 
    
    .menu {
        display: flex;
        /* width: 20%; */
        color: rgb(29, 62, 109);
        text-decoration: none;
        font-weight: 550;
        font-size: 20px;
        /* padding: 20px; */
    }


    .aboutImg { /* CANNOT AUTO CENTER WITH FLEX OR MARGIN ONLY WITH EXACT NUMBER */
        width: 70%;
        margin-top: 30px;
        margin-left: 7.2em;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    }

    /********** ABOUT SECTION TWO **********/

    .aboutSectionTwo .safeOne {
        margin-top: 25px;
    }

    .aboutSectionTwo img {
        margin-bottom: 10px;
        height: 150px;
        width: 150px;
    }

    .iconDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .divCard {
        width: 300px;
        height: 300px;
    }

    .homeIcon {
        height: 210px;
        width: 210px;
        margin-left: 40px; /* why doesnt flex or margin work? why does img only respond to number of measurement amount? */
    }

    a.overlay {
        width: 295px;
        height: 295px;
    }

    .cdcAnchor {
        display: flex;
    }

    /* Services */

    .textContentOne {
        font-size: 20px;
    }

    /********** FOOTER **********/

    .footerLogo {
        height: 130px;
        width: 150px;
    }

    .footerIcons {
        width: 45%;
    }
}

@media (min-width: 1024px) {

    header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .logoLink {
        order: 1;
        text-align: center;
    }
    
    .socialIcons {
        display: flex;
        width: 360px;
        justify-content: space-around;
    }

    .socialIcons i {
        background-color: white;
        color: rgb(36, 62, 106);
        border-radius: 50%;
    }

    i:hover {
        background-color: rgba(36, 62, 106);
        color: rgb(255, 255, 255);
        transition: .3s ease-in-out;
        border-radius: 50%;
    } 

    .menu {
        display: flex;
        margin: 0;
    }

    nav {
        width: 360px;
        order: 2;
    }

    .homeContentDiv h1 {
        font-size: 50px;
    }

    .homeContentDiv p {
        font-size: 26px;
    }

    .homeContentDiv span {
        font-size: 20px;
    }

    .aboutSectionTwo {
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }

    .aboutSectionTwo .safeOne {
        line-height: 25px;
    }

    .aboutSection {
        width: 80%;
        margin: auto;
    }

    .aboutSection .aboutImg {
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-top: 50px;
    }

    /* Services */

    .servicesHomePageIcon {
        height: 300px;
        width: 300px;
    }

    .iconDiv {
        width: 100%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .divCard {
        margin: 25px;
    }

    a.overlay {
        width: 344px;
    }

    .footerIcons {
        width: 40%;
    }

}

@media (min-width: 1281px) {

    body {
        width: 90%;
        margin: auto;
    }

    .menu {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

    .homeContentDiv p {
        width: 50%;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .homeContentDiv button {
        width: 25%;
        margin-left: 37.5%;
    }

    .aboutSectionTwo .safeOne {
        width: 70%;
        font-size: 24px;
        margin: auto;
        margin: 30px 0 50px 7em;
        /* margin-bottom: 50px; */
        line-height: 30px;
    }

    .aboutSectionTwo .safeTwo {
        margin-left: 7em;
        width: 65%;
        font-size: 24px;
    }

    .aboutImg {
        height: 500px;
    }

    /* Services */

    .imgUVOne,
    .imgUVTwo {
        height: 400px;
        width: 400px;
        margin: 50px;
    }

    .servicesHomePageIcon {
        width: 350px;
        height: 350px;
    }

    .servicesDivOne {
        padding: 40px;
    }
    
    .iconDiv {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 80%;
    }

    .footerIcons {
        width: 20%;
        margin-bottom: 20px;
    }
}

@media (min-width: 1600px) {

    header .logo {
        height: 140px;
        width: 150px;
    }

    .menu {
        /* margin-left: 50em; */
        display: flex;
        justify-content: space-between;
    }

    .menu a {
        padding: 5px 10px;
    }

    .aboutSection .aboutImg {
        width: 60%;
        margin-left: 20%;
    }

    .iconDiv {
        width: 100%;
    }

    .imgUVOne,
    .imgUVTwo {
        height: 450px;
        width: 450px;
    }
}